version: '3.8'

services:
  backend:
    build: ../backend
    ports:
      - "8000:8000"
    volumes:
      - ../backend/uploads:/app/uploads
      - ../backend/models:/app/models
    restart: unless-stopped

  frontend:
    image: node:18-alpine
    working_dir: /app
    volumes:
      - ../frontend:/app
    ports:
      - "8080:5173"
    command: sh -c "npm install && npm run dev"
    restart: unless-stopped
